    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            input{
                display: block;
                margin: 20px 20px;
                margin-left: 40%;
            }
        </style>
    </head>
    <body>
        <form >
            <input placeholder="name" id="fname" type="text">
            <input placeholder="Age" type="number">
            <input placeholder="City" type="text">
            <input placeholder="Profession" type="text">
            <input placeholder="Email" type="text">

        </form>
    </body>
    </html>